# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# Streamlit / App data
# ======================
history.json

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/
